.card{
    width: 185px;
    height: 265px;
}

@media (max-width: 768px){
    .card{
        width: 8.4rem;
        height:11.999rem;
    }
}

/* @media (max-width: 768px){
    .card{
        width: 8.4rem;
        height:11.999rem;
    }
} */